In [1]:
import pyodbc
import json
contraseña = open("my_passwd.json", "r")
YOUR_PASSWORD = json.load(contraseña)["my_passwd"] #json es sólo el string de su contraseña.
contraseña.close()

# Set up your connection string
server = 'pruebasql3.database.windows.net'
database = 'BASE_INTENTO3'
username = 'masterchef_ivan'
password = YOUR_PASSWORD


# Define the connection string for SQL Server (Azure)
conn_str = (
    f'DRIVER={{ODBC Driver 17 for SQL Server}};'
    f'SERVER={server};'
    f'DATABASE={database};'
    f'UID={username};'
    f'PWD={password}'
)

# Establish the connection
try:
    conn = pyodbc.connect(conn_str)
    print("Connected to the Azure SQL Database successfully!")

except pyodbc.Error as e:
    print(f"Error connecting to the database: {e}")

Connected to the Azure SQL Database successfully!

In [2]:
import pandas as pd 
query_l = "SELECT * FROm sys.TABLES"
cursor = conn.cursor()
cursor.execute(query_l)

tables = list(cursor.fetchall())
print(tables)

[('Customer', 1573580644, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 630000), datetime.datetime(2025, 4, 22, 22, 39, 37, 910000), False, False, False, 0, None, 15, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('ProductModel', 1621580815, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 630000), datetime.datetime(2025, 4, 22, 22, 39, 37, 890000), False, False, False, 1, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('ProductDescription', 1669580986, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 640000), datetime.datetime(2025, 4, 22, 22, 39, 37, 883000), False, False, False, 0, None, 4, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('Product', 1701581100, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 640000), datetime.datetime(2025, 4, 22, 22, 39, 37, 937000), False, False, False, 1, None, 17, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('ProductModelProductDescription', 1733581214, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 640000), datetime.datetime(2025, 4, 22, 22, 39, 37, 890000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('ProductCategory', 1781581385, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 647000), datetime.datetime(2025, 4, 22, 22, 39, 37, 880000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('BuildVersion', 1829581556, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 650000), datetime.datetime(2025, 4, 22, 22, 39, 37, 843000), False, False, False, 0, None, 4, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('ErrorLog', 1861581670, None, 1, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 650000), datetime.datetime(2025, 4, 22, 22, 39, 37, 843000), False, False, False, 0, None, 9, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('Address', 1893581784, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 650000), datetime.datetime(2025, 4, 22, 22, 39, 37, 907000), False, False, False, 0, None, 9, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('CustomerAddress', 1925581898, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 653000), datetime.datetime(2025, 4, 22, 22, 39, 37, 867000), False, False, False, 0, None, 5, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('SalesOrderDetail', 1957582012, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 653000), datetime.datetime(2025, 4, 22, 22, 39, 37, 937000), False, False, False, 0, None, 9, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False), ('SalesOrderHeader', 1989582126, None, 5, 0, 'U ', 'USER_TABLE', datetime.datetime(2025, 4, 22, 22, 39, 36, 657000), datetime.datetime(2025, 4, 22, 22, 39, 37, 957000), False, False, False, 1, None, 22, False, True, False, False, False, False, False, 0, False, False, 0, 'TABLE', False, False, 0, 'SCHEMA_AND_DATA', 0, 'NON_TEMPORAL_TABLE', None, False, False, None, None, None, False, False, -1, -1, 'INFINITE', 0, 'NON_LEDGER_TABLE', None, False)]

In [3]:
query_2= "SELECT * FROM SalesLT.customer"
datos = pd.read_sql(query_2,conn)
datos.head()

C:\Users\Iván Ortiz\AppData\Local\Temp\ipykernel_50952\1050868314.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  datos = pd.read_sql(query_2,conn)

,CustomerID,NameStyle,Title,FirstName,MiddleName,LastName,Suffix,CompanyName,SalesPerson,EmailAddress,Phone,PasswordHash,PasswordSalt,rowguid,ModifiedDate
0,1,False,Mr.,Orlando,N.,Gee,None,A Bike Store,adventure-works\pamela0,orlando0@adventure-works.com,245-555-0173,L/Rlwxzp4w7RWmEgXX+/A7cXaePEPcp+KwQhl2fJL7w=,1KjXYs4=,3F5AE95E-B87D-4AED-95B4-C3797AFCB74F,2005-08-01
1,2,False,Mr.,Keith,None,Harris,None,Progressive Sports,adventure-works\david8,keith0@adventure-works.com,170-555-0127,YPdtRdvqeAhj6wyxEsFdshBDNXxkCXn+CRgbvJItknw=,fs1ZGhY=,E552F657-A9AF-4A7D-A645-C429D6E02491,2006-08-01
2,3,False,Ms.,Donna,F.,Carreras,None,Advanced Bike Components,adventure-works\jillian0,donna0@adventure-works.com,279-555-0130,LNoK27abGQo48gGue3EBV/UrlYSToV0/s87dCRV7uJk=,YTNH5Rw=,130774B1-DB21-4EF3-98C8-C104BCD6ED6D,2005-09-01
3,4,False,Ms.,Janet,M.,Gates,None,Modular Cycle Systems,adventure-works\jillian0,janet1@adventure-works.com,710-555-0173,ElzTpSNbUW1Ut+L5cWlfR7MF6nBZia8WpmGaQPjLOJA=,nm7D5e4=,FF862851-1DAA-4044-BE7C-3E85583C054D,2006-07-01
4,5,False,Mr.,Lucy,None,Harrington,None,Metropolitan Sports Supply,adventure-works\shu0,lucy0@adventure-works.com,828-555-0186,KJqV15wsX3PG8TS5GSddp6LFFVdd3CoRftZM/tP0+R4=,cNFKU4w=,83905BDC-6F5E-4F71-B162-C98DA069F38A,2006-09-01

## EDA

In [4]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 847 entries, 0 to 846
Data columns (total 15 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   CustomerID    847 non-null    int64
 1   NameStyle     847 non-null    bool
 2   Title         840 non-null    object
 3   FirstName     847 non-null    object
 4   MiddleName    504 non-null    object
 5   LastName      847 non-null    object
 6   Suffix        48 non-null     object
 7   CompanyName   847 non-null    object
 8   SalesPerson   847 non-null    object
 9   EmailAddress  847 non-null    object
 10  Phone         847 non-null    object
 11  PasswordHash  847 non-null    object
 12  PasswordSalt  847 non-null    object
 13  rowguid       847 non-null    object
 14  ModifiedDate  847 non-null    datetime64[ns]
dtypes: bool(1), datetime64[ns](1), int64(1), object(12)
memory usage: 93.6+ KB

In [5]:
datos.describe()

         CustomerID                   ModifiedDate
count    847.000000                            847
mean   14503.217237  2006-07-16 04:35:14.912571392
min        1.000000            2005-07-01 00:00:00
25%      330.500000            2005-09-01 00:00:00
50%      672.000000            2006-08-01 00:00:00
75%    29798.000000            2007-06-01 00:00:00
max    30118.000000     2009-05-16 16:33:33.123000
std    14729.700946                            NaN

In [6]:
print(datos["Suffix"].value_counts())
print(datos["NameStyle"].value_counts())
print(datos["SalesPerson"].value_counts())

Suffix
Jr.    25
II     10
Sr.     6
IV      5
PhD     2
Name: count, dtype: int64
NameStyle
False    847
Name: count, dtype: int64
SalesPerson
adventure-works\shu0        151
adventure-works\jillian0    148
adventure-works\josé1       142
adventure-works\garrett1     78
adventure-works\jae0         78
adventure-works\pamela0      74
adventure-works\david8       73
adventure-works\linda3       71
adventure-works\michael9     32
Name: count, dtype: int64

In [7]:
datos.columns

Index(['CustomerID', 'NameStyle', 'Title', 'FirstName', 'MiddleName',
       'LastName', 'Suffix', 'CompanyName', 'SalesPerson', 'EmailAddress',
       'Phone', 'PasswordHash', 'PasswordSalt', 'rowguid', 'ModifiedDate'],
      dtype='object')

In [8]:
datos.drop(["Suffix","rowguid","NameStyle","CustomerID","Title","FirstName","MiddleName","LastName","EmailAddress"], axis=1, inplace=True)

In [9]:
datos.to_csv("clientes.csv",index=False)

In [ ]:
conn.close()